<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink='' class="btn btn-primary">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/blog' class="btn btn-primary">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/contact' class="btn btn-primary">Kontakt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/add-post' class="btn btn-primary">Dodaj post</a>
  </li>
  <li>
    <a class="nav-link" routerLink="/login" *ngIf="!authService.currentUser" class="btn btn-primary">Zaloguj</a>
  </li>
  <li>
    <button class="nav-link" (click)="logOut()" *ngIf="authService.currentUser" class="btn btn-primary">Wyloguj</button>
  </li>
  <li>
    <a class="nav-link" routerLink="/signup" *ngIf="!authService.currentUser" class="btn btn-primary">Zarejestruj</a>
  </li>
</ul>
