<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink='' class="btn btn-primary">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/blog' class="btn btn-primary">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/contact' class="btn btn-primary">Kontakt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/add-post' class="btn btn-primary">Dodaj post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/login' class="btn btn-primary">Zaloguj</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/signup' class="btn btn-primary">Zarejestruj</a>
  </li>
</ul>

<button (click)="logOut()" class="dropdown-item">Wyloguj</button>
