<div align="center">
  <form>
    <div class="form-group">
      <label for="FirstNameInput">Imię</label>
      <input type="text" class="form-control" id="FirstNameInput" placeholder="Enter first name">

      <label for="LastNameInput">Nazwisko</label>
      <input type="text" class="form-control" id="LastNameInput" placeholder="Enter last name">

      <label for="EmailInput">Adres email</label>
      <input type="email" class="form-control" id="EmailInput" placeholder="Enter mail">
    </div>

    <div class="form-check">

      <input class="form-check-input" type="radio" name="gender" id="Female" value="option1">
      <label class="GenderRadio" for="Female">
        Kobieta
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="Male" value="option2">
      <label class="GenderRadio" for="Male">
        Mężczyzna
      </label>
    </div>

    <div>
      <label for="AgeInput">Wiek</label>
      <input type="number" name="age" min="1" max="100" id="AgeInput">
    </div>

    <div class="form-group">
      <label for="DescriptionArea">Opis</label>
      <textarea class="form-control" id="DescriptionArea" rows="3"></textarea>
    </div>

    <button class="btn" type="submit">Wyślij</button>

  </form>

</div>

<div>
  <footer class="center">
    Copyrights &copy; Jakub Zięba | 2019
  </footer>
</div>
